<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>CrudJS Demo</title>
        <meta name="description" content="CrudJS demo page.">
        <link rel="icon" href="/images/crud-js.ico" />
        <link rel="stylesheet" href="/dependencies/@fortawesome/fontawesome-free/css/all.min.css">
        <link rel="stylesheet" href="/dependencies/bootstrap-material-design/dist/css/bootstrap-material-design.min.css">
        <link rel="stylesheet" href="/css/crud-js.css">
    </head>
    <body class="container bg-info">

        <div id="demo-header" class="card text-center mt-4 mb-4">
            <div class="card-body">
                <a href="/"><img style="max-width:80%;" src="/images/crud-js.png" alt=""></a>
            </div>
        </div>

        <div id="demo-content" class="card">
          <div class="card-body">
            Demo content.
          </div>
        </div>

        <script src="/dependencies/jquery/dist/jquery.min.js" charset="utf-8"></script>
        <script src="/dependencies/popper.js/dist/umd/popper.min.js" charset="utf-8"></script>
        <script src="/dependencies/bootstrap-material-design/dist/js/bootstrap-material-design.min.js" charset="utf-8"></script>
        <script>
            $(document).ready(function() { $('body').bootstrapMaterialDesign(); });
        </script>
        <script src="/js/demo.js" charset="utf-8"></script>
        <script src="/crudjs/index.js" type="module" charset="utf-8"></script>
    </body>
</html>
