<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>CrudJS Demo</title>
        <meta name="description" content="CrudJS demo page.">
        <link rel="icon" href="/images/crud-js-icon.ico" />
        <link rel="stylesheet" href="/dependencies/@fortawesome/fontawesome-free/css/all.min.css">
        <link rel="stylesheet" href="/dependencies/bootstrap-material-design/dist/css/bootstrap-material-design.min.css">
        <link rel="stylesheet" href="/css/crud-js.css">
    </head>
    <body class="container bg-info">

        <div id="demo-header" class="card text-center mt-4 mb-4">
            <div class="card-body">
                <a href="/"><img style="max-width:80%;" src="/images/crud-js.png" alt=""></a>
            </div>
        </div>

        <div id="demo-content" class="card">
          <div class="card-body p-0">

            <ul class="nav nav-tabs tab-header" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#demo-editable" role="tab">Editable crud</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#demo-not-editable" role="tab">Read only crud</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#demo-error-editable" role="tab">Editable error</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#demo-error-false-url" role="tab">Url error</a>
                </li>
            </ul>
            <div class="tab-content p-4">
                <div class="tab-pane fade show active" id="demo-editable" role="tabpanel">

                    <button id="save-btn-1" type="button" name="button" class="btn btn-raised btn-warning">SAVE</button>
                    <crud-js url="/demo/data" save-button="save-btn-1"></crud-js>

                </div>
                <div class="tab-pane fade" id="demo-not-editable" role="tabpanel">

                    <crud-js url="/demo/data"></crud-js>

                </div>
                <div class="tab-pane fade" id="demo-error-editable" role="tabpanel">

                    <crud-js url="/demo/data" save-button="save-btn-not-valid"></crud-js>

                </div>
                <div class="tab-pane fade" id="demo-error-false-url" role="tabpanel">

                    <crud-js url="/demo/urlnotexist"></crud-js>

                </div>
            </div>

          </div>
        </div>

        <script src="/dependencies/jquery/dist/jquery.min.js" charset="utf-8"></script>
        <script src="/dependencies/popper.js/dist/umd/popper.min.js" charset="utf-8"></script>
        <script src="/dependencies/bootstrap-material-design/dist/js/bootstrap-material-design.min.js" charset="utf-8"></script>
        <script>
            $(document).ready(function() { $('body').bootstrapMaterialDesign(); });

            function validateEmail(email) {
                var re = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
                return re.test(email);
            }

            function EmailField(value, columnDesc, crud) {
                this.value = value;
                this.columnDesc = columnDesc;
                this.crud = crud;
                this.element = document.createElement("td");
            }

            EmailField.prototype.getDefaultValue = function() {
                return "";
            }

            EmailField.prototype.getNewValue = function() {
                var elem = this.element.getElementsByTagName('input')[0];
                if(elem) {
                    return elem.value;
                }
                return this.value;
            }

            EmailField.prototype.buildDisplayView = function() {
                this.element.innerHTML = this.value;
            }

            EmailField.prototype.buildEditView = function() {
                var value = this.value;
                if(!value) {
                    value = this.getDefaultValue();
                }
                this.element.innerHTML = `<input type="email" class="form-control m-0" placeholder="${this.columnDesc.name}" value="${value}" style="background-image:linear-gradient(0deg,#1e99d6 2px,rgba(0,150,136,0) 0),linear-gradient(0deg,rgba(0,0,0,.26) 1px,transparent 0) !important;width:auto !important;">`;
            }

            EmailField.prototype.isValid = function() {
                var newValue = this.getNewValue();
                return newValue != null && typeof newValue === "string" && validateEmail(newValue);
            }

            var CUSTOM_FIELDS = {
                'email': EmailField
            };
        </script>
        <script src="/js/demo.js" charset="utf-8"></script>
        <script src="/crudjs/index.js" type="module" charset="utf-8"></script>
    </body>
</html>
