<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title><%= title %></title>
        <meta name="description" content="CrudJS demo page.">
        <link rel="stylesheet" href="/static/@fortawesome/fontawesome-free/css/all.min.css">
        <link rel="stylesheet" href="/static/bootstrap-material-design/dist/css/bootstrap-material-design.min.css">
        <link rel="stylesheet" href="/css/crud-js.css">
    </head>
    <body>
        <div class="container text-center pt-4">
            <h1 class="display-1 mt-4 mb-4 text-primary"><strong><%= title %></strong></h1>
        </div>
        <script src="/static/jquery/dist/jquery.min.js" charset="utf-8"></script>
        <script src="/static/popper.js/dist/umd/popper.min.js" charset="utf-8"></script>
        <script src="/static/bootstrap-material-design/dist/js/bootstrap-material-design.min.js" charset="utf-8"></script>
        <script>
            $(document).ready(function() { $('body').bootstrapMaterialDesign(); });
        </script>
    </body>
</html>
